.yellow{
    color: yellow;
}

#greycol{
    color: grey;
}

div+h3+p{
    color: green;
}

div+div>p{
    color: red;
}

h3:first-child{
    color: pink;
}

h2:hover{
    color: green;
}

li:first-child>h2{
    color: yellow;
}

li:nth-child(2)>h2{
    color: red;
}

li:nth-child(3)>h2{
    color: chocolate
}

li:nth-child(4)>h2{
    color: blue;
}

li:nth-child(5)>h2{
    color: tomato;
}

li:first-child p:last-child{
    color: red;
}

li:first-child p:nth-child(4){
    color: blueviolet;
}

li:nth-child(2) p:nth-child(odd){
    color: darkviolet;
}

li:nth-child(3) p:nth-child(even){
    color: darkviolet;
}

li:last-child p:nth-child(n+4){
    color: darkslategray;
}

p:hover{
    color: aqua;
}